* {
  margin: 0px;
  padding: 0px;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 380px;
  height: 546px;
  background-color: #2d2d2f;
  font-family: "Poppins", sans-serif;
}



.div-top > h1 {
  color: #fff;
  font-size: 30px;
}

.span-orange {
  color: #ff5000;
}

.div-top > p {
  color: #fff;
  font-weight: 300;
  margin-top: 30px;
}

main {
  margin: 100px 175px;
  font-family: "Poppins", sans-serif;
}

.text-grid-columns {
  color: #2d2d2f;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.grid-rows{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 546px;
  margin-top: 30px;
}

.grid-autorizadas,
.grid-aeroportos,
.grid-dicas {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 377px;
  height: 444px;
  background-color: #2d2d2f;
  border-radius: 10px;

}

.h1-grid {
  color: #ff5000;
  margin-top: 30px;
  font-size: 25px;
}

.p{
  color: #fff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;

}

.button-aeroportos {
  background: linear-gradient(90deg, #FF7231 0%, #FF5000 100%);
  color: #fff;
  font-weight: 500;
  border: 0px;
  padding: 20px;
  border-radius: 999px;
  font-size: 20px;
  z-index: 1;
  margin-top: 50px;
}

.button-dicas {
  background: linear-gradient(90deg, #FF7231 0%, #FF5000 100%);
  color: #fff;
  font-weight: 500;
  border: 0px;
  padding: 20px;
  border-radius: 999px;
  font-size: 20px;
  z-index: 1;
  margin-top: 100px;
}

.button-autorizadas {
  background: linear-gradient(90deg, #FF7231 0%, #FF5000 100%);
  color: #fff;
  font-weight: 500;
  border: 0px;
  padding: 20px;
  border-radius: 999px;
  font-size: 20px;
  z-index: 1;
  margin-top: 80px;
}

.p-final {
  font-size: 12px;
  color: #ececec;
  opacity: 6;
  margin: 10px;
  
}

.info-work {
  margin-top: 80px;
}

.info-work > h1 {
  font-size: 24px;
  color: #FF5000;
  margin-bottom: 50px;
}

.acoordion-plans {
  margin-top: 80px;
  font-size: 22px;
}

.acoordion-plans > h1 {
  text-align: center;

}

.option-chip {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-weight: 400;
  font-size: 17px;
  margin-top: 60px;
}

.option-fisico {
  width: 800px;
  transition: 1s;
}
.option-fisico > h1 {
  text-align: center;
  color: #FF5000;
  transition: 1s;
  cursor: pointer;
}

.option-fisico{border-bottom: 3px solid #FF5000;}
.option-virtual{
  border-bottom: 3px solid #ECECEC;
  transition: 1s;
  cursor: pointer;
}


.option-virtual {
  width: 800px;
  transition: 1s;
}
.option-virtual > h1 {
  text-align: center;
  color: #2d2d2f;
  transition: 1s;
}



.option-virtual:hover {
  border-bottom: 3px solid #ff5000;
}

.text-virtual:hover {
  color: #FF5000;
}

.accordion {
  width: 100%;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #2d2d2d;
  color: #ECECEC;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 #2d2d2d;
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 25px;
}

.accordion-item-header > h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 123%;
  color: #fff;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #2d2d2d, transparent) 1;
}


.text-accordion-planomax {
  display: flex;
  gap: 30px;
}

.content-text-planomax {
  border-right: 1px solid #FFFFFF;
  width: 1000px;
}
.content-text-planomax > .texto-content-planomax {
  font-size: 25px;
}

.p-info-planomax > span {
  font-weight: 700;
}
.p-info-planomax {
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}

.valores-planomax {
  display: flex;
  flex-direction: column;
}

.valor-plano > h1 {
  color: #FF7231;
  font-size: 25px;
}
.valor-plano > p {
  color: #ECECEC;
  font-size: 14px;
}

.valores-planos {
  margin-top: 30px;
}
.valores-planos > h1{
  font-size: 26px;
}
.valores-planos > p {
  color: #ECECEC;
  font-size: 14px;
}

.valor-recargas {
  margin-top: 30px;
}
.valor-recargas > h1 {
  color: #FF7231;
  font-size: 25px;
}
.valor-recargas > p {
  color: #ECECEC;
  font-size: 14px;
}

.valor-recargas > h2 {
  margin-top: 10px;
  font-size: 20px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-comprar{
  padding: 15px 50px;
  background: linear-gradient(90deg, #FF7231 0%, #FF5000 100%);
  color: #fff;
  font-weight: 700;
  border-radius: 60px;
  border: transparent;
  font-family: "Poppins",sans-serif;
  cursor: pointer;
}






.texto_planos, .option-chip, .option-virtual {
  visibility: hidden;
}


.infos_buttom {
  margin-top: 100px;
}

.infos_buttom > .texto_infos_buttom {
  color: #FF5000;
  font-weight: 600;
  font-size: 30px;
}

.lista_infos {
  gap: 50px;
  margin-top: 30px;
  
}

.lista_infos > li {
  margin-top: 10px;
  font-weight: bold;
}

.lista_infos > li > p {
  font-weight: 500;
}

#accordion-virtual {
  animation: entradaright 1s ease 0s 1 normal forwards;
}

#accordion-fisico {
  animation: entradaleft 1s ease 0s 1 normal forwards;
}


@keyframes entradaright {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes entradaleft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes chipzinho {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

.img-chip {
  animation: chipzinho 10s ease 0s infinite normal forwards;
}