@media screen and (max-width: 600px){
  main {
    margin: 0px;
  }
  .accordion {
    width: 100px;
    display: flex;
  }

  .img-top {
    display: none;
  }

  .container-top {
    width: 100%;
    height: 200px;
  }
  .div-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div-top > h1 {
    font-size: 20px;
  }
  .div-top > p {
    font-size: 16px;
    text-align: center;
  }

  .grid-rows {
    margin-top: 15px;
    height: 100px;
  }
  .text-grid-columns {
    font-size: 16px;
  }

  .info-work {
    margin-top: 50px;
  }

  .accordion-item-header {
    font-size: 13px;
  }
}
